.App {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.appbg,
html {
	background: #f1f1f1;
	text-align: center;
}
form {
	display: flex;
	flex-direction: column;
}
.memberslist {
	border-collapse: collapse;
}
/* body {
	background: linear-gradient(90deg, #2193b0, #6dd5ed);
}
.memberslist tr:nth-child(even) {
	background-color: #f2f2f2;
}

.memberslist tr:hover {
	background-color: #ddd;
} */
th,
td {
	padding: 12px;
}

label {
	padding: 12px;
}
button {
	padding: 7px 12px;
	margin: 22px;
	border-radius: 0.2rem;
}
input {
	padding: 0.5rem;
	border: 1px solid #4f4f4f;
	border-radius: 0.2rem;
}
.update {
	background: #6bcc6e;
	border: 1px solid transparent;
	outline: none;
	cursor: pointer;
	color: #f1f1f1;
	transition: all 0.3s ease-out;
}
.update:hover {
	background: #4caf50;
}
.update:active {
	transform: scale(0.8);
}
.delete {
	background: #cf5334;
	border: 1px solid transparent;
	outline: none;
	cursor: pointer;
	color: #f1f1f1;
	transition: all 0.3s ease-out;
}
.delete:hover {
	background: #bb472a;
}
.delete:active {
	transform: scale(0.8);
}
.edit {
	background-color: #a9b3b6;
	border: 1px solid transparent;
	outline: none;
	cursor: pointer;
	color: #f1f1f1;
	transition: all 0.3s ease-out;
}
.edit:hover {
	background-color: #73797a;
}
.edit:active {
	transform: scale(0.8);
}
.cancel {
	background-color: transparent;
	border: 1px solid #4f4f4f;
	outline: none;
	cursor: pointer;
	color: #4f4f4f;
	transition: all 0.3s ease-out;
}
.cancel:hover {
	background-color: #e7e7e7;
}
.cancel:active {
	transform: scale(0.8);
}
.twocol {
	margin: 2rem;
}
h2 {
	border-bottom: 2px solid #4f4f4f;
}
.add {
	background-color: #3978d6;
	border: 1px solid transparent;
	outline: none;
	cursor: pointer;
	color: #f1f1f1;
	transition: all 0.3s ease-out;
}
.add:hover {
	background-color: #2c69c5;
}
.add:active {
	transform: scale(0.8);
}

@media (max-width: 768px) {
	.App {
		flex-direction: column;
	}
	button {
		padding: 7px 12px;
		margin: 10px;
		border-radius: 0.2rem;
	}

	th,
	td {
		padding: 1px;
	}
}
h1,
h2,
h3,
th,
strong {
	color: #4f4f4f;
}
h1 {
	border-bottom: 2px solid #4f4f4f;
}
